@import 'css/general_styling.scss';

.UserLabel {
  h4 {
    @include primary-text($labels, #000, 400);
    font-weight: 600;
    line-height: 17px;
  }
  p {
    @include primary-text($labels, $grey, 400);
    line-height: 14px;
  }
}
