// Colors
$background: #f1f3f8;
$surface: #fff;
$light-gray:#F3F4FB;

$primary-color: #4C7FF7;
$secondary-color: rgba(0, 0, 0, 0.76);
$sucess-color: #5bc431;
$on-surface-medium: #728099;
$on-surface: #303034;
$success-color: #15d380;
$success-color-light: #f5fded;
$danger-color: #FF6F6F;

$black: #000;
$white: #fff;
$grey: #8b91a4;
$medium-grey: #b1b4cc;
$light-grey: #eeefef;
$theme-color-1: linear-gradient(to bottom, #2a3890, #0083e2);

$border: #E5E6ED;

// Typographic Scale
$titlebanner: 90px;
$titlebig: 40px;
$titlepage: 24px;
$titlecard: 20px;
$title: 22px;
$labelbig:18px;
$subtitle: 16.5px;
$h1: 16.5px;
$h2: 14.5px;
$labels:15px;
$medium: 14px;
$h3: 13.5px;
$button: 14px;
$body: 14px;
$body-2: 13px;
$tabs: 10px;
$label: 12px;
$tabs: 10px;

// Shadow
$shadow: 0 3px 7px rgba(30, 30, 31, 0.05), 0 1px 3px rgba(27, 28, 29, 0.07);
$shadow-big: 0 14px 28px rgba(96, 96, 107, 0.25), 0 10px 10px rgba(118, 115, 136, 0.15);


// Fonts

@mixin primary-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color {
    color: $font-color;
  }
  font-family: 'Barlow', sans-serif;
}

// Container

@mixin container() {
  background: #fff;
  box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16),
    0 2px 6px rgba(52, 53, 62, 0.28);
  border-radius: 6px;
  padding: 1em;
}
@mixin Content {
    height: 92vh;
    padding: 2em 3em;
    overflow-y: auto;
}
@mixin Contentxs {
  height: 92vh;
  padding: 1em;
  overflow-y: auto;
}
@mixin ControlSteps {
  border-top: 1px solid $light-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
@mixin ContentComplete {
  height: 92vh;
  padding: 0;
  overflow-y: auto;
}
@mixin input-style($border-color) {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $border-color;
}

//Separator

.Separator {
  border: 1px solid transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
.buttonDisabled {
  opacity: 0.5;
  cursor: auto;
}
// Responsive

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-min) { @content; }
  }
    @else if $media == sm {
    @media only screen and (max-width: $screen-sm-min) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $screen-md-min) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $screen-lg-min) { @content; }
  }
}
