// Colors
$background: #f1f3f8;
$surface: #fff;

$primary-color: #0083E3;
$secondary-color: #454B61;
$sucess-color: #15D380;

$success-color: #15D380;

$black: #000;
$white: #fff;
$grey: #b3bec5;
$medium-grey: #c5d0de;
$light-grey: #EEEFEF;

$theme-color-1: linear-gradient(to bottom, #2A3890, #0083E2);

// Typographic Scale
$title: 32px;
$subtitle: 18px;
$h1: 20px;
$h2: 16px;
$h3: 14px;
$button: 13px;
$body: 13px;
$body-2: 14px;
$tabs: 11.5px;
$label: 10px;

// Shadow
$shadow: 0 1px 6px rgba(147, 141, 158, 0.16), 0 2px 6px rgba(52, 53, 62, 0.16);
$shadow-big: 0 2px 8px rgba(114, 134, 223, 0.4), 0 2px 6px rgba(114, 134, 223, 0.4);

// Fonts

@mixin primary-text($font-size, $font-color, $font-weight) {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  @if $font-color { color: $font-color; }
}

// Container

@mixin container() {
  background: #fff;
  box-shadow: 0 1px 6px rgba(147, 141, 158, 0.16),
    0 2px 6px rgba(52, 53, 62, 0.28);
  border-radius: 6px;
  padding: 1em;
}

@mixin input-style($border-color) {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: $border-color;
}

// Separator 

.Separator{
  border: 1px solid transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
