$success: #00b460;
$idle: #ffec41;
$error-color: rgba(208, 2, 27, 0.8);
$info: rgba(62, 160, 251, 1);

$black: #303034;
$white: #ffffff;
$dark-gray: #728099;
$light-gray: rgba(229, 230, 237, 1);

$coa-blue-100: rgba(76, 127, 247, 1);
$coa-red-100: rgba(254, 48, 48, 1);

$border: #e5e6ed;
