@import './general_styling.scss';

body {
  margin: auto;
  padding: 0;
  background-color: white;
  color: $on-surface;
 }
 h1{
  font-size: $h1;
 }
 .separator {
  border-right: 1px solid $medium-grey;
  margin: 0 0.5em;
 }
 h3{
  @include primary-text($labels,$on-surface ,400)
 }
 a{
   color: $primary-color;
 }
 p{
  @include primary-text($body,$on-surface ,400)
 }
 b{
  @include primary-text($body,$on-surface ,600)
 }
 span{
    @include primary-text($body,$on-surface-medium ,400)
 }
 .ant-input, .ant-select-selection{
border: 1px solid $border;
 }

 // Buttons
 
 button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
 }
 .ant-form-item-label label::after{
   display:none;
 }
  .ControlSteps.StepOne,
.SubmitProject.StepOne {
  justify-content: flex-end;
}
button.ant-btn {
  border-radius: 50px;
}