@import './general_styling.scss';

body {
  margin: auto;
  padding: 0;
  background-color: white;
  color: $on-surface;
  font-family: 'Rubik', sans-serif;
 }
 h1{
  font-size: $h1;
 }
 .separator {
  border-right: 1px solid $medium-grey;
  margin: 0 0.5em;
 }
 h3{
  @include primary-text($labels,$on-surface ,400)
 }
 a{
   color: $primary-color;
 }
 p{
  @include primary-text($body,$on-surface ,400)
 }
 b{
  @include primary-text($body,$on-surface ,500)
 }
 span{
    @include primary-text($body,$on-surface-medium ,400)
 }
 .ant-input, .ant-select-selection{
border: 1px solid $border;
 }

 // Buttons
 
 button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: none;
  }
 }
 .ant-form-item-label label::after{
   display:none;
 }
  .ControlSteps.StepOne,
.SubmitProject.StepOne {
  justify-content: flex-end;
}
button.ant-btn {
  border-radius: 50px;
}
// GENERAL CLASSES

.w100{
  width: 100%
}
.h100{
  height: 100%
}
.scrollY{
overflow-y:scroll;

}
.flex {
  display: flex;
  align-items: center;
}
.AlignCenter{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5em 0;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex-end{
  display: flex;
  justify-content: flex-end;
}
.relative {
  position: relative;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.TextRed{
 color:$danger-color;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.vertical {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.opacity {
  opacity: 0.7;
}
.txtright{
text-align: right;
}
.ant-breadcrumb {
  padding: 1em 0 0 0;
}

// Upload field components

.upload-info {
  max-width: 280px;
}

.upload-button-field {
  overflow: hidden;
  max-width: 144px;
}