@import "../../../css/general_styling.scss";

.UserAvatar {
  display: flex;
  align-items: center;

  .UserData {
    display: flex;

    .UserLabel {
      margin-left: 1.5em;
    }
  }

  .SettingsMenu{
    margin-left: 2em;
  }
}
