@import "../../../css/general_styling.scss";

.WrapperModalMigration{
  width: 68vw !important;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  @include breakpoint(sm) {
    width: 95vw !important;
    border-radius: 10px;
  }
  .ant-modal-body{
    height: 85vh;
    background: url(/static/images/bg-overlay.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(sm) {
      height: auto;
    }
  }
  .Container{
    height: 100%;
    padding:2.5em;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    @include breakpoint(sm) {
      padding:1em;
     }
    .Body{
      flex:1;
      h1,h2,h3{
          text-align:center;
      }
      h1{
        @include primary-text(36px, $primary-color, 600);
      }
      h2{
        @include primary-text($titlepage, $on-surface, 500);
      }
      h3{
        @include primary-text(14px, $on-surface, 400);
        width: 80%;
        margin: 1em auto;
        @include breakpoint(sm) {
          width: 100%;
        }
      }
      .BlockContainer{
        margin-top: 4em;
        display: flex;
        justify-content: center;
        @include breakpoint(sm) {
          flex-direction:column;
         }
        .Card{
          @include breakpoint(sm) {
           margin: 1em 0;
          }
          h1{
            @include primary-text(17px, $on-surface, 500);
            text-align: left;
            padding-top: 0.5em;
          }
          .ImageCard{
            box-shadow: $shadow;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            img{
              width:100%;
            }
          }
        }
      }
    }
    .Footer{
      width: 100%;
      margin: 1em auto 0;
      display: flex;
      justify-content: center;
      @include breakpoint(sm) {
       flex-direction: column;
       margin: 1em 0;
      }
      .CustomButton{
        margin: 0 0.5em;
        min-width: 23%;
        @include breakpoint(sm) { 
          margin: 0.5em 0;
          width: 100%;
        }
      }
    }
  }
}