@import "../../../css/general_styling.scss";

.WrapperModalMigration{
  width: 76vw !important;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
  @include breakpoint(sm) {
    width: 95vw !important;
    border-radius: 10px;
  }
  .ant-modal-body{
    height: 90vh;
    background: url(/static/images/bg-overlay.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .Container{
    height: 100%;
    padding:2.5em;
    display: flex;
    flex-direction: column;
    .Body{
      flex:1;
      h1,h2,h3{
          text-align:center;
      }
      h1{
        @include primary-text(36px, $primary-color, 600);
      }
      h2{
        @include primary-text($titlepage, $on-surface, 500);
      }
      h3{
        @include primary-text($subtitle, $on-surface, 400);
        width: 65%;
        margin: 1em auto;
      }
    }
    .Footer{
      .CustomButton.Primary{
        margin: 0 auto;
      }
    }
  }
}