@import 'css/general_styling';
@import 'css/_variables.scss';
@import 'css/mixins/_fonts.scss';

.o-previewProject {
  &__previewInfoMessage {
    position: sticky;
    top: $header-height;
    width: 100%;
    z-index: 1;
  }
  &__title {
    margin-bottom: 2rem;
    h1 {
      @include primary-text(2rem, $coa-blue-100, 500);
    }
  }
  &__content {
    padding-inline: min(1rem);
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    column-gap: 2.1875rem;
  }
  &__buttons {
    overflow: auto;
    width: 100%;
    display: flex;
    column-gap: 0.9375rem;
    padding-block: 0.5rem;
    &__button {
      display: flex;
      column-gap: 0.625rem;
      border: none;
      background: $coa-light-sky-blue-100;
      @include primary-text(1.25rem, $coa-dark-gray-100, 500);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    }
  }
  &__infoSection {
    width: 100%;
    height: 100%;
  }
  &__members {
    width: 100%;
  }
  &__progressSection {
    width: 100%;

    &__pills {
      display: flex;
      flex-direction: column;
      row-gap: 1.25rem;
      &__normalText {
        @include primary-text(0.9375rem, $coa-dark-gray-100, 400);
      }
      &__boldText {
        @include primary-text(0.9375rem, $coa-dark-gray-100, 700);
      }
      &__currentAmount {
        @include breakpoint(md) {
          display: block;
        }
      }
      &__targetAmount {
        @include breakpoint(md) {
          display: block;
          text-align: right;
        }
      }
      &__divider {
        margin: 0;
        background-color: #9ca6b8;
        @include respond(tablet) {
          display: none;
        }
      }
    }
  }
  &__milestonesSection {
    width: 100%;
    &__milestones {
      display: flex;
      flex-direction: column;
      row-gap: 2.1875rem;
    }
  }
  &__members {
    &__container {
      display: grid;
      grid-template-columns: 33.3% 33.3% 33.3%;
      gap: 1.5rem;
      @include breakpoint(lg){
        grid-template-columns: 50% 50%;
      }
      @include breakpoint(md){
        grid-template-columns: 100%;
      }
    }
  }

  @include respond(mobile) {
    &__content {
      margin-block: 1.5rem;
      row-gap: 2.5rem;
      max-width: 100%;
    }
  }
  @include respond(tablet) {
    &__content {
      margin-block: 2.25rem;
      row-gap: 2.9375rem;
      padding-inline: min(5rem);
    }
  }
  @include respond(laptop) {
    &__content {
      row-gap: 3.125rem;
      margin-block: 2.5rem;
    }
  }
}
