@import "../../../css/general_styling.scss";

.UploadImageContainer {
  width: 25%;
  display: flex;
  flex-flow: column;
  .Title {
    @include primary-text($body, $secondary-color, 600);
    margin-bottom: 0;
  }
  p {
    @include primary-text($body, $on-surface-medium, 400);
    margin-bottom: 1em;
  }
 }
 
 .UploadImageContainer:nth-child(2) {
  padding-right: 1.5em;
 }