@import 'css/general_styling.scss';

.UploadImageContainer {
  width: 50%;
  display: flex;
  flex-flow: row;
  padding: 0.5em 1em;
  justify-content: space-between;
  border-left: 3px solid #e0e4e8;
  align-items: center;
  margin: 0px 0px 20px 0;
  .Title {
    @include primary-text($body, $secondary-color, 500);
    margin-bottom: 0;
  }
  p {
    @include primary-text($body, $on-surface-medium, 400);
  }
  .UploadButton {
    max-width: 50%;
  }
  .ant-upload-list {
    text-overflow: ellipsis;
  }
}
