@import '../../../css/general_styling.scss';

.TableMilestones {
  font-family: 'Source Sans Pro', sans-serif;

  .ant-table {
    font-size: $body;

    .ant-table-tbody {
      tr {
        vertical-align: baseline;
      }
    }
    thead {
      tr {
        vertical-align: baseline;
      }
    }
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td {
    padding: 16px 16px;
    white-space: nowrap;
  }
}
.ant-table-thead > tr > th {
  font-size: 12px;
  text-transform: uppercase;
  color: $grey;
  font-weight: 500;
  border-top: 1px solid #e8e8e8;
}
.TableMilestones .ant-table-tbody > tr > td {
  color: rgba(62, 57, 57, 0.76);
}

.TableMilestones .ant-table-tbody > tr > td:first-child {
  font-weight: 600;
  color: $secondary-color;
}
.TableMilestones .ant-select-selection__placeholder{
  color: $secondary-color;
  font-weight: 500;
}
.ant-tabs{
width:100%;
}
.ant-tabs-bar{
  margin-bottom:0;
}
