@import "../../../css/general_styling.scss";

.TableMilestones {
  font-family: 'Source Sans Pro', sans-serif;

  .ant-table {
    font-size: $body;

    .ant-table-tbody {
      tr {
        vertical-align: baseline;
      }
    }
    thead{
      tr{
        vertical-align: baseline;
      }
    }
  }
}
