@import 'css/general_styling.scss';
.RegisterWrapper {
  overflow: hidden;
  height: 100vh;

  .RegisterSteps {
    height: 93%;
    flex-direction: row;
    @include breakpoint(sm) {
      flex-direction: column;
      height: 90%;
    }
    @include breakpoint(md) {
      flex-direction: column;
    }
  }
}
.RegisterSteps {
  display: flex;
  flex-direction: row;
  .BlockSteps {
    background: $light-gray;
    height: 100%;
    width: 25%;
    padding: 5em 0;
    display: block;
    @include breakpoint(sm) {
      height: 10%;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include breakpoint(md) {
      height: 10%;
      width: 100%;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ant-steps {
      width: 90%;
    }
    .ant-steps-dot .ant-steps-item-content {
      width: 100%;
    }
    .ant-steps-dot .ant-steps-item-icon {
      margin-left: 21px;
    }
    .ant-steps-dot .ant-steps-item-tail {
      margin: 0 0 0 24px;
    }
    .ant-steps-item-process
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background: $primary-color;
    }
  }
  .BlockContent {
    width: 75%;
    height: 100%;
    @include breakpoint(md) {
      width: 100%;
      height: 90%;
    }
    @include breakpoint(sm) {
      width: 100%;
      height: 90%;
    }
    .steps-content {
      position: relative;
      padding: 3.5em;
      overflow-y: visible;
      height: 87%;
      @include breakpoint(sm) {
        overflow-y: scroll;
        height: 93%;
        padding: 2em;
      }
      @include breakpoint(md) {
        overflow-y: scroll;
        height: 93%;
        padding: 2em;
      }
      .TitlePage h1 {
        margin-bottom: 2.5em;
        @include breakpoint(sm) {
          margin-bottom: 1.5em;
        }
      }
      .FormRegister {
        margin: 1.5em 0;
        @include breakpoint(md) {
          margin: 1em 0 1em;
        }
        @include breakpoint(sm) {
          margin: 1em 0 1em;
        }
        .ant-select-selection-selected-value {
          font-size: 16px;
        }
        .ant-form-item-label label {
          @include primary-text($labels-bigger, $on-surface-medium, 500);
        }
        .InputTwoLabel {
          position: relative;
          top: -1.5em;
          @include breakpoint(md) {
            top: 0em;
          }
          @include breakpoint(sm) {
            top: 0em;
          }
        }
      }

      .Linear {
        margin-top: 1.5em;
        @include breakpoint(md) {
          margin-top: 2em;
        }
        @include breakpoint(sm) {
          margin-top: 2em;
        }
        hr {
          width: 42%;
          margin: 0;
          border: 0.5px solid $border;
          @include breakpoint(md) {
            width: 40%;
          }
          @include breakpoint(sm) {
            width: 28%;
          }
        }
        p {
          @include primary-text($medium, $on-surface-medium, 400);
          margin: 0 1em;
        }
      }
      .InfoStep {
        position: absolute;
        top: 40%;
        right: 103%;
        text-align: center;
        width: 300px;
        h2 {
          @include primary-text($labelbig, $on-surface, 400);
          margin-top: 1em;
        }
        h4 {
          @include primary-text($medium, $on-surface-medium, 400);
        }
      }
      .ant-checkbox-wrapper span {
        @include primary-text($body, $on-surface, 400);
      }
    }
    .steps-action {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin: 0 3.5em;
      align-items: center;
      border-top: 1px solid $border;
      height: 13%;
      @include breakpoint(md) {
        height: 10%;
        margin: 0;
        padding: 0 2em;
      }
      @include breakpoint(sm) {
        height: 10%;
        margin: 0;
        padding: 0 2em;
      }
    }
  }
  .Register2 {
    .FormRegister {
      height: 70%;
      @include breakpoint(sm) {
        margin: 1em 0 1em;
        height: auto;
      }
    }
    .leyend {
      @include primary-text($medium, $on-surface-medium, 400);
    }
  }
}
