@import '../css/general_styling.scss';

.ProjectMission, .ProjectProgress {
  h1.title {
    @include primary-text($labelbig, $black, 400);
    margin: 0.5em 0;
  }
  p {
    @include primary-text($body, $on-surface, 400);
    line-height: 18px;
  }
  .ant-steps {
    height: 55px;
    align-items: center;
    width: 70%;
  }
  .ant-steps-item-title::after{
    height: 2px;
  }
  .ant-steps-item-process {
    display: flex;
    align-items: center;
    .ant-steps-item-icon {
      background:$primary-color;
      border: 2px solid $success-color;
      height: 32px;
      width: 32px;
      line-height: 30px;
    }
  }
}
