@import '../css/general_styling.scss';

.WebFormProject {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
 
  .ant-form-item {
    width: 24%;
    margin-right: 2%;
    margin-bottom: 1em;
  }
 
  .ant-form-item:last-child {
    margin-right: 0;
  }
 
  .TextArea {
    width: 49%;
    margin-right: 2%;
    textarea {
      min-height: 80px;
      resize: none;
    }
  }
  .TextArea:last-child {
    margin-right: 0;
  }
 
  .form-section {
    display: flex;
    flex-flow: row;
  }
 }
 
 
 .ant-input{
  font-size: $body;
 }
 
 .has-error .ant-input-affix-wrapper .ant-input,
 .has-error .ant-input-affix-wrapper .ant-input:hover {
  border-color: $danger-color;
 }
 .has-error .ant-input-affix-wrapper .ant-input:focus {
  border-color: $danger-color;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 0, 80, 0.2);
  box-shadow: 0 0 0 2px rgba(255, 0, 80, 0.2);
 }
 
 .WebFormProject .ant-input-affix-wrapper {
  margin-bottom: 0.5em;
 }