@import "../css/general_styling.scss";

.WebFormProject {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .ant-input-affix-wrapper {
    width: 24%;
    margin-right: 0.8em;
    margin-bottom: 1.5em;

  }
  textarea.ant-input{
    width: 49%;
    margin-right: 0.8em;
    margin-bottom: 1.5em;
    resize: none;
  }
}
