@import '../css/general_styling.scss';

.WebFormProject {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

  .ant-input-affix-wrapper {
    margin-right: 0.8em;
    margin-bottom: 1.5em;
  }
  .ant-form-item {
    width: 25%;
    margin: 0 0.5em;
  }
  textarea.ant-input {
    margin-bottom: 1.5em;
    resize: none;
  }

  .form-section {
    display: flex;
    flex-flow: row;
  }
}
