.coaFormActivitiesModal {
  &__budget {
    display: flex;
    column-gap: 1.625rem;
    align-items: flex-end;

    .ant-form-explain {
      position: absolute;
    }

    &__formItem {
      flex-grow: 1;
      .ant-input-number {
        width: 100%;
      }
    }
  }
  &__select {
    .ant-select {
      width: 100%;
    }
  }
}
