@import '../css/general_styling.scss';

.FormTrasnfer {
  width: 100%;

  .ant-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Barlow', sans-serif;

    .ant-form-item {
      width: 45%;
      margin-right: 1.5em;
    }
  }
}
