@import "../../../css/general_styling.scss";

.Label {
  @include primary-text($label, $grey, 400);
}
.LabelBlue{
  @include primary-text($h3, $primary-color, 500);
  width: 100%;
  margin: 1em 0;
  text-transform: Capitalize;
}
