@import "../../../css/general_styling.scss";
  .DraggerFile {
    width: 50%;
    padding-right: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon{
    margin-bottom: 0;
  }
  .ant-upload.ant-upload-drag{
    background: #fafafa;
    border: 1px dashed #2683e338;
    margin-bottom:1em;
    height: 150px;
  }
  .ant-upload.ant-upload-drag p.ant-upload-text {
    @include primary-text($body, $secondary-color, 400);
}