@import 'css/variables.scss';
@import 'css/_general_styling.scss';

.formProjectUsers {
  &__section {
    display: flex;
    justify-content: space-between;
    &__title {
      @include primary-text(1.3rem, $black, 500);
      line-height: 1.5rem;
    }
  }
  &__collapse {
    background: transparent;

    .ant-collapse-content {
      border: none;
    }
    .ant-collapse-item {
      border: none;
    }
  }
  &__customHeader {
    &__formItem {
      .ant-form-item-children {
        display: grid;
        grid-template-columns: 1fr auto 3fr;
        align-items: center;
        column-gap: 2rem;
      }
    }
    &__icon {
      &.--success {
        color: $success;
      }
      &.--pending {
        color: $success;
      }
    }
  }
}
