@import 'css/general_styling';

.a-projectHeroDetail {
  display: flex;
  flex-direction: row;
  /* padding-right: 10px; */
  align-items: flex-start;
  gap: 10px;

  /* &:not(:last-child) {
    border-right: 1px solid #e5e6ed;
    height: 50px;
  } */

  &__icon {
    display: none;
    @include respond(laptop) {
      display: flex;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    h3 {
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      /* line-height: 15px; */
      color: #ffffff;

      order: 1;
      @include respond(laptop) {
        order: 2;
      }
    }

    p {
      order: 2;
      font-family: 'Rubik', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 14px;
      color: #ffffff;
      margin: 0;
      @include respond(laptop) {
        order: 1;
      }
    }
  }
}
