@import '../../../css/general_styling.scss';

.BlockChat {
  height: 30%;
  padding: 1em 0;
  border-top: 1px solid $on-surface-medium;
  span {
    @include primary-text($label, $on-surface-medium, 400);
  }
  a {
    padding-left: 0.5em;
    @include primary-text($label, $primary-color, 400);
  }

  textarea.ant-input {
    margin: 0em 0 1em 0;
  }
}
