@import "../../../css/general_styling.scss";

.DownloadFileContainer {
  width: 48%;
  display: flex;
  padding-right: 1.5em;
  margin-right: 1.5em;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;

  .FileText {
    h2 {
      @include primary-text($h2, $secondary-color, 400);
      margin-bottom: 0.25em;
    }
    p {
      @include primary-text($body, $secondary-color, 300);
      margin-bottom: 1em;
    }
  }
}
