@import 'css/_variables.scss';
@import 'css/mixins/_fonts.scss';

.o-coaMilestoneItem {
  &__card {
    background: $coa-light-sky-blue-100;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
  }
  &__description {
    @include primary-text(0.875rem, $coa-medium-gray-100, 400);
  }
  &__addActivityButton {
    width: 100%;
    background: transparent;
    padding-block: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include primary-text(0.875rem, $coa-blue-100, 400);
    border-color: $coa-blue-100;
  }

  &__collapse {
    background: transparent;
    &__panel {
      border: none !important;

      .ant-collapse-header {
        padding: 0 !important;
        color: $coa-blue-100 !important;
      }
      .ant-collapse-content-box {
        padding-inline: 0 !important;
      }
    }
    &__header {
      display: flex;
      column-gap: 0.3rem;
      align-items: center;
      @include primary-text(0.875rem, $coa-blue-100, 400);
      margin-bottom: 0.5rem;
    }
  }

  &__cardsList {
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
  }
}
