@import "../../../css/general_styling.scss";

.TitlePage{
  h1 {
    @include primary-text($titlepage, $on-surface, 400);
    position: relative;
    margin-bottom: 1em;
    &::after {
      background:$primary-color;
      content:"";
      display:block;
      height:3px;
      position:absolute;
      width:30px;
      top:1.7em;
    }
  }
}
