@import "../../../css/general_styling.scss";

.proposalSelectedContainer {
    width: 200px;
    background:$white;
    padding:1em;
    border-radius: 10px;
    border:1px solid $primary-color;
    img {
      margin-right:1em;
    }
}

.proposalOptionContainer {
  width: 200px;
  background:$white;
  padding:1em;
  border-radius: 10px;
  border:1px solid $light-gray;
  img {
    margin-right:1em;
  }
}

.proposalOptionContainer:hover {
    border:1px solid $primary-color;
  }