@import 'css/general_styling.scss';
.ril__image,
.ril__imagePrev,
.ril__imageNext {
  border-radius: 10px;
}
.ril__caption {
  min-height: 100px;
  max-height: inherit;
  .ril__captionContent {
    width: 100%;
    display: flex;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
}
.ExpPhotosWrapper {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 2em;
  overflow-x: scroll;
  .ImgSubWrapper {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;
    background: $black;
    cursor: pointer;
    img {
      height: auto;
      width: 100%;
    }
  }
}
