@import "../css/general_styling.scss";

.SignatureLabel {
  background: $white;
  border: 1px solid $white;
  border-radius: 4px;
  height: 30px;
  margin: 1em 0;
  padding: 0.35em 0.75em;
  display: flex;
  align-items: center;
  margin-left: 0.5em;

  img {
    margin-right: 0.75em;
  }
}

.theme-pending {
  background: #72809912;
  border: 1px solid #728099;

  p {
    @include primary-text(1em, #728099, 400);
  }
}

.theme-success {
  background: #15d38012;
  border: 1px solid #15d380;
  p {
    @include primary-text(1em, #15d380, 400);
  }
}

.theme-cancelled {
  background: rgba(255, 0, 80, 0.2);
  border: 1px solid #FF0050;
  p {
    @include primary-text(1em, #FF0050, 400);
  }
}
