.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

  span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 14px;
    gap: 7px;
    background: #d4e3ff;
    border: 0.4px solid #309bfe;
    border-radius: 68px;
  }

  .draft {
    background: #d4e3ff;
    border: 0.4px solid #309bfe;
  }

  .executing {
    background: #D1FFC6;
    border: 0.4px solid #0AB52F;
  }
}