@import 'css/_variables.scss';
@import 'css/mixins/_fonts.scss';

.m-coaProjectMembersCard {
  box-shadow: 1px 1px 10px rgba(66, 70, 75, 0.25);

  &__header {
    display: flex;
    gap: 1rem;
  }
  &__title {
    @include primary-text(1rem, $coa-dark-gray-100, 700);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__subtitle{
    @include primary-text(0.8rem, $coa-dark-gray-100, 400);
  }
  &__boldText {
    font-weight: 700;
  }
  &__extraInfo {
    color: $coa-grey-100 !important;
  }
  &__addressContainer {
    display: flex;
    &__link {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

