@import "../../../css/general_styling.scss";

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.memberSelection {
  padding:1em;
  .input {
    border:1px solid $light-gray;
    margin-top: 0.5em;
    padding:0.5em;
    width:100%;
    min-height:31px;
    img {
      margin-right:0.5em;
    }
  }
}