@import "../../../css/general_styling.scss";

.DownloadTemplateContainer {
  width: 48%;
  margin-bottom: 1em;

  .Title {
    @include primary-text($body, $secondary-color, 600);
    margin-bottom: 0;
  }
  p {
    @include primary-text($body, $on-surface-medium, 400);
    margin-bottom: 1em;
  }
}
