@import 'css/general_styling.scss';

.footerButtons {
  &__container {
    padding-inline: 3rem;

    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
    }
    align-items: center;
    background: $light-gray;
    border-top: 1px solid #e5e6ed;
    @include breakpoint(sm) {
      padding: 0.5em 1em;
    }

    &__right {
      display: flex;
      column-gap: 3.3rem;
    }
  }
}
