@import 'css/_variables.scss';

.mainContent {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  &__header {
    height: $header-height;
  }
  &__content {
    height: calc(100vh - #{$header-height});
  }
}
