@import 'css/_variables.scss';

.mainContent {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  &__header {
    height: $header-height;
  }
  &__content {
    background-image: url('/static/images/coa-background-2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
