@import 'css/general_styling';
@import 'css/_variables.scss';

.heroSmall {
  border-radius: 0 0 0 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 16.875rem;
  gap: 16px;
  width: 100%;

  &__message {
    position: sticky;
    top: $header-height;
    width: 100%;
    z-index: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    flex-grow: 1;
  }

  &__content {
    &__text {
      h3 {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 18.96px;
        color: #ffffff;
        margin-top: 17px;
      }

      h1 {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 35.55px;
        color: #ffffff;
      }
    }
  }

  &__bottom {
    // max-width: 1200px;
    display: flex;
    flex-direction: column;

    .progress--btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 29px;
      gap: 10px;
      width: 187px;
      height: 36px;
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid #ffffff;
      box-shadow: 0 1px 6px rgba(0, 1, 1, 0.17);
      border-radius: 6px;
      margin-bottom: 40px;

      span {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }
    }

    .backoffice {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 20px;
      @include respond(tablet) {
        gap: 100px;
      }
    }
  }
}
