@import 'css/_general_styling.scss';
@import 'css/_variables.scss';

.landingLayout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &__header {
    height: var(--landingHeight, '720px');
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    // transition: all 1s;
  &.--notShowInMobile {
      display: flex;
      @include breakpoint(xl) {
        display: none;
      }
    }
    &__content {
      height: 100%;
    }
  }
  &__body {
    margin-block: 1.3125rem;
    flex-grow: 1;
    @include respond(mobile) {
      margin-block: 1.5rem;
    }
    @include respond(tablet) {
      margin-block: 2.25rem;
    }
    @include respond(laptop) {
      margin-block: 2.5rem;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__header__content,
  &__body__content {
    @include respond(mobile) {
      width: 100%;
      padding-inline: 1rem;
    }
    @include respond(tablet) {
      width: 100%;
      padding-inline: 4.1875rem;
    }
    @include respond(laptop) {
      width: 100%;
      padding-inline: 9.875rem;
    }
    @include respond(desktop) {
      width: 86rem;
      padding: 0;
    }
  }
  &__previewInfoMessage {
    position: sticky;
    top: $header-height;
    width: 100%;
    z-index: 1;
  }
}

.scrolledLadingHeader {
  @include respond(desktop) {
    position: sticky;
    top: 60px;
    height: 220px;
    line-height: 50px;
    z-index: 1;
  }
}

.scrolledLadingHeaderAnimate {
  transition: all 1s;
}
