@import '../../../css/general_styling.scss';
.ant-avatar{
    width: 26px;
    height:26px;
    display:flex;
    align-items: center;
    justify-content:center;
    margin: 3px 3px 3px 0;
    .ant-avatar-string{
            color: #23252b85;
      }
}