@import '../../../css/general_styling.scss';

.ant-btn {
  height: 38px;
}
.ant-btn.CustomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 0.6em 1.5em;
  height: 38px;
  text-align: center;
  box-shadow: transparent;
  box-shadow: inherit;
  cursor: pointer;
  justify-content: space-around;
  border: none;
}
.CustomButton:hover {
  opacity: 0.7;
}
/* SUCCESS */
.ant-btn.Success,
.ant-btn.Success:active .ant-btn.Success:focus {
  background: $success-color;
  span {
    @include primary-text($button, $white, 400);
  }
  .anticon {
    display: none;
  }
}
/* FACEBOOK */
.ant-btn.Facebook,
.ant-btn.Facebook:active,
.ant-btn.Facebook:focus,
.ant-btn.Facebook:hover {
  background: #3B539A;
  border-radius: 4px;
  span {
    @include primary-text($button, $white, 400);
  }
  .anticon {
    display: none;
  }
  @include breakpoint(sm) {
    width: 100%;
    }
    @include breakpoint(lg) {
      width: auto;
      }
}
/* PRIMARY */
.ant-btn.Primary,
.ant-btn.Primary:active,
.ant-btn.Primary:focus,
.ant-btn.Primary:hover {
  background: $primary-color;
  span {
    @include primary-text($button, $white, 400);
  }
  .anticon {
    display: none;
  }
}

/* SECONDARY */
.ant-btn.Secondary,
.ant-btn.Secondary:active,
.ant-btn.Secondary:focus,
.ant-btn.Secondary:hover {
  background:transparent;
  span {
    @include primary-text($button, $primary-color, 400);
  }
  .anticon {
    display: none;
  }
}
/* WHITE */
.ant-btn.White,
.ant-btn.White:active,
.ant-btn.White:focus,
.ant-btn.White:hover {
  background:transparent;
  border:2px  solid $white;
  span {
    @include primary-text($button, $white, 400);
  }
  .anticon {
    display: none;
  }
}
/* CANCEL */
.ant-btn.Cancel,
.ant-btn.Cancel:active,
.ant-btn.Cancel:focus,
.ant-btn.Cancel:hover {
  background: $grey;
  span {
    @include primary-text($button, $white, 400);
  }
  .anticon {
    display: none;
  }
}

/* DOWNLOAD */
.ant-btn.Download,
.ant-btn.Download:active,
.ant-btn.Download:focus,
.ant-btn.Download:hover {
  background: $white;
  border: 1px solid $grey;
  span {
    @include primary-text($button, $grey, 400);
  }
  .anticon {
    color: $grey;
    margin-left: 0.5em;
  }
}
.ant-btn.Download:active,
.ant-btn.Download:focus,
.ant-btn.Download:hover {
  background: $white;
  border: 1px solid $primary-color;
  span {
    @include primary-text($button, $primary-color, 400);
  }
  .anticon {
    color: $primary-color;
    margin-left: 0.5em;
  }
}