@import 'css/_variables.scss';
@import 'css/_general_styling.scss';

.evidenceDetailBox {

  &__member {
    margin-block: 1rem;
    &__Label {
      color: $coa-grey-100;
      font-family: 'Rubik';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      padding-block: 0.4rem;
    }
    &__LabelValue {
      color: $coa-grey-100;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
    }
  }
}
