@import 'css/general_styling.scss';

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.userAvatar {
  align-items: flex-start;
  .date {
    @include primary-text($label, $grey, 100);
  }
}
.commentReply {
  margin-top: 1em;
  padding: 1em 2em;
  border-top: 1px solid #e5e6ed;
  .ant-avatar {
    margin-right: 0.5em;
  }
  .commentReplyText {
    margin: 1em 0 0 0 !important;
    @include primary-text($body, $grey, 100);
  }
  a {
    @include primary-text($body, $primary-color, 100);
  }
}
