@import 'css/general_styling.scss';

.SignatoryItem {
  width: 100%;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;

  .SignatoryLabel {
    @include primary-text($body, $grey, 300);
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .Signatory {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .SignatoryData {
      display: flex;
      align-items: center;
      .UserLabel {
        transform: scale(1.25);
        margin-left: 1.5em;
      }
    }

    .SignatoryStatus {
      display: flex;
      align-self: flex-end;
      align-items: center;

      .Primary {
        margin-left: 0.5em;
        p {
          color: $white;
        }
      }
    }
  }
}
