@import "../css/general_styling.scss";

.SignatoryItem {
    width: 48%;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;

  .SignatoryLabel {
    @include primary-text($body, $grey, 300);
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  .Signatory {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .SignatoryData {
      display: flex;

      .ant-avatar {
        transform: scale(1.5);
      }

      .UserLabel {
        transform: scale(1.25);
        margin-left: 2.5em;
      }
    }

    .SignatoryStatus {
      display: flex;
      align-self: flex-end;
      align-items: center;

      .ButtonPrimary{
        margin-left: 0.5em;
        p{
          color: $white;
        }
      }
    }
  }
}
