@import "../../../css/general_styling.scss";

.SideBar {
  background-color: $white;
  box-shadow: $shadow;
  margin-top: 70px;
  width: 5vw;
}
.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background: $primary-color;
}

.icon {
  color: $primary-color;
}

.ant-layout-sider {
  height: 100vh;
  background: $white;
  border-right: 1px solid $border;
  ul.ant-menu {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  li.ant-menu-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    margin: 0;
    height: 70px;
    width: 100%;
    img {
      padding: 0.4em 1.2em;
      border-right: 2px solid transparent;
      opacity: 0.4
    }
  }
}
.ant-menu-item{
  display:flex;
 justify-content: center;
 align-items:center;
}

.ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  min-width: 100%;
  margin-right: 0;
  font-size: 22px;
}
.ant-menu-dark,
.ant-menu-dark .ant-menu-sub {
  background: transparent;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: $white;
  img{
    border-right: 2px solid $primary-color;
    opacity: 1;
  }
}

.ant-layout-sider-zero-width-trigger,
.ant-layout-sider-zero-width-trigger:hover {
  z-index: 100;
  background: $primary-color;
}

@media screen and (max-width: 770px) {

  .ant-layout-sider {
    z-index: 200;
  }
  .ant-layout-sider-zero-width-trigger {
    top: 5px;
  }
}