@import "../../../css/general_styling.scss";

.ExploreProject{
  .ant-input-affix-wrapper .ant-input-prefix, .ant-input-affix-wrapper .ant-input-suffix,.ant-input-search-icon,.ant-select-arrow{
    color:black;
  }
  .ant-input::placeholder,.ant-select-selection__placeholder{
    color: $black;
  }
}
.ProjectsCardsContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1em;
  @include breakpoint(sm) {
    margin: 0 !important;
  }
}

.title{
    @include primary-text($h1, $secondary-color, 600);
}