@import '../../../css/general_styling.scss';

.ExploreProject {
  .ant-input-affix-wrapper .ant-input-prefix,
  .ant-input-affix-wrapper .ant-input-suffix,
  .ant-input-search-icon,
  .ant-select-arrow {
    color: black;
  }
  .ant-input::placeholder,
  .ant-select-selection__placeholder {
    color: $black;
  }
}
.projectBrowser {
  &__cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(26rem, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    grid-auto-rows: 1fr;
    @include breakpoint(sm) {
      grid-template-columns: 1fr;
    }
  }
}

.title {
  @include primary-text($h1, $secondary-color, 500);
}
