@import 'css/_variables.scss';
@import 'css/_general_styling.scss';

.evidence-detail {
  margin-top: 64px;
  padding: 16px;
  padding-top: 0px;
}

.go-back {
  display: none;
  color: $coa-grey-100;
  font-size: 16px;
  line-height: 19px;
  &__text {
    margin-left: 8px;
    color: $coa-grey-100;
    font-weight: 500;
  }
}

.evidence-container {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $coa-light-gray-100;
    padding: 8px 0px;
    margin-bottom: 24px;
  }
  &__date {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $coa-light-gray-100;
  }
  &__indicator {
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: $coa-blue-100;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 135.2%;
    margin-top: 8px;
  }
  &__description {
    margin-top: 16px;
    font-size: 18px;
    color: $coa-medium-gray-100;
  }
  &__created-by {
    color: $coa-grey-100;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 16px 0px;
  }
  &__creator-name {
    color: $coa-grey-100;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.auditor-options {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  &__auditor-btn {
    width: 210px;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: $coa-green-200;
    transition: 0.3s;
    & span {
      font-size: 14px;
      font-weight: 500;
      color: white;
    } 
    &--reject {
      background-color: $coa-red-100;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &__icon {
    margin-right: 8px;
  }
}

.attached-files {
  padding:  16px 0;
  &__header {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: $coa-dark-gray-100;
  }
  &__file {
    padding: 8px 0px;
  }
  &__file,&__file-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__file-title {
    color: $coa-grey-100;
    font-weight: 400;
  }
  &__file-download {
    text-decoration: underline;
  }
}

.amount-spent {
  border-top: solid 1px $coa-light-gray-100;
  border-bottom: solid 1px $coa-light-gray-100;
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__left {
    display: flex;
    align-items: center;
  }
  &__symbol {
    background: $coa-blue-100;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    height: 24px;
    border-radius: 50px;
    width: 24px;
    margin-right: 8px;
    p {
      font-size: 14px;
      color: white;
    }
  }
  &__legend, &__amount {
    font-size: 18px;
    line-height: 24px;
    color: $coa-medium-gray-100;
  }
}

.evidence-breadcrumb {
  display: none;
  padding: 8px 0px;
  &__title {
    color: $coa-blue-100;
    font-size: 14px;
  }
}


.evidence-comments {
  background: $coa-light-sky-blue-100;
  border-radius: 20px;
  margin-top: 32px;
  width: 100%;
  &__header {
    font-size: 16px;
    color: $coa-medium-gray-100;
    line-height: 19px;
    font-weight: 600;
    padding: 16px 16px 8px 16px;
    border-bottom: solid 1px $coa-light-gray-100;
  }
  &__no-comments {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__message {
    text-align: center;
  }
  &__image {
    width: 104px;
  }
  &__reason {
    padding: 20px;
    padding-top: 8px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
  }
  &__top {
    display: flex;
    align-items: baseline;
  }
  &__auditor-name {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $coa-dark-gray-100;
    margin-right: 8px;
  }
  &__date {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $coa-grey-100;
  }
  &__text {
    margin-top: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

// responsiveness
@media only screen and (min-width: 1024px) {
  .evidence-detail {
    display: flex;
    margin: 64px 64px 0px 64px;
    &__container {
      padding: 32px;
      max-width: 50%;
    }
  }

  .evidence-breadcrumb {
    display: block;
  }
  .evidence-comments {
    max-width: 400px;
    margin-top: 0px;
  }
  .evidence-top__container {
    margin: 8px 64px;
  }
  .go-back {
    display: flex;
  }
}
