@import "../../../css/general_styling.scss";

.profileContainer {
  padding:2em;
  .edit {
    p {@include primary-text($label, $primary-color, 400);}
    margin-left: 1em;
    .anticon {
      margin-right: 0.5em;
      color:$primary-color;
    }
  }
  .ant-form {
    width: 60%;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    .full {
      width: 100%;
      margin-right: 1em;
    }
    .halph {
      width: 48%;
      margin-right: 1em;
    }
    label {
      font-size: $body;
      color:$secondary-color;
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  
  -webkit-text-fill-color: $white;
  transition: background-color 5000s ease-in-out 0s;
}
  }
  .buttonSection {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 5em;
  }
}


.BlockDiscussion{
  height: 63%;
  overflow-y:auto;
  .MessageContent{
    h3{
      padding: 0 0.5em;
      @include primary-text($medium, $black, 400);
    }
    span{
      @include primary-text($label, $on-surface-medium, 400);
    }
    p.Text{
      padding:  0.5em 0;
      @include primary-text($body, $grey, 400);
    }
    a{
      @include primary-text($label, $primary-color, 400);
    }
    .ant-scroll-number-only > p{
      color: $primary-color;
      font-size:$label;
    }
  }
  .BlockVisible{
    background: $light-gray;
    border-radius: 4px;
    margin-bottom:1em;
    padding:1em;
  }
  .Answer{
    padding:0.5em 1em;
    background: transparent;
    border-left: 1px solid $on-surface-medium;
    p.Text{
      padding:  0;
    }
  }
   
}