@import '../../../css/general_styling.scss';

.StepsContainer {
  height: 8vh;
  padding: 0 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
