@import "../../../css/general_styling.scss";

.StepsContainer {
  height: 10%;
  font-family: 'Barlow', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
