@import 'css/general_styling.scss';

.SecurityKeySection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 1em;
  justify-content: center;
  @include breakpoint(sm) {
    margin: 1em 0;
  }
}
