@import "../../../css/general_styling.scss";

// 
.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.marginBottom {
  margin-bottom: 1em;
}

.marginRight {
  margin-right: 0.5em;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
}

.text {
  @include primary-text($body-2, $on-surface-medium, 400);
}

  .Box2 {
    position: relative;
    overflow: visible;
    padding:2em;
    box-shadow: $shadow;
    min-height: 351px;
    width: 30%;
    min-width: 400px;
    border-radius: 10px;
    margin: 1em 1%;
    &:hover {
      border:1px solid $primary-color;
      box-shadow: 0px 26px 14px -20px rgba(0,4,121,0.27);
      box-sizing: border-box;
    }
    .topSection {
      position: absolute;
      top:0;
      left:0;
      padding:2em;
      h2 {
        @include primary-text($title, $secondary-color, 400);
        margin: 0;
      }
      border-bottom: 1px solid $light-gray;
      .newMember{
        background: $light-gray;
        border-radius: 5em;
        padding: 0.3em 1em;
        color:$grey;
        font-size: $body-2;
      }
    }
    .middleSection{
      position: absolute;
      top:180px;
      left:0;
      width: 100%;
      .percent {

        //progress ant
        .ant-progress-inner{
          width: 56px!important;
          height: 56px!important;
          position: relative!important;
          .ant-progress-text {
            display: none;
          }
        }
        
        .ant-progress-circle-path {
          stroke: $cyanbg!important;
        }
        // progress ant
        display: flex;
        justify-content: center;
        width: 30%;
          img {
            position: absolute;
            top:15px;
            left: 12%;
          }
      }
      .voteBox {
        width: 30%;
        .imgVote {
          img {
            margin:0.5em;
          }
        }
      }
      .column {
        .voteBold {
            font-size:1em;
            font-weight:medium;
            color:$on-surface-medium;
        }
      }
    }
    .BottomBoxSection {
      padding:2em;
      border-top: 1px solid $light-gray;
      height: 100px;
      overflow: hidden;
      position: absolute;
      bottom:0;
      left:0;
      width: 100%;
    }
    .subBox {
      flex-direction:column;
      h3 {
        color:$grey;
      }
      width: 100%;
    }
    .detail {
      width: 100%;
      .ant-avatar {
        background: $primary-color;
      }
      .ant-avatar-string {
        color:white;
      }
      .plusSign {
        display: flex;
        align-items: center;
        h2, p {
          color:$primary-color;
          margin:0;
        }
      }
      .avatarBox {
        .avatar  {
          border:2px solid white;
          margin-left: -9px!important;
          z-index: 2;
        }
        .avatar-overlap {
          margin-right: -0.5px!important;
          border:2px solid white;
          z-index: 1;
        }
      }
    }
  }
