@import "../../../css/general_styling.scss";

.ButtonCancel {
  background: $grey;
  border-radius: 3px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  padding: 0 5em;
  outline: none;
  cursor: pointer;

  p {
    @include primary-text($button, $white, 400);
    text-transform: uppercase;
  }
}