.CoaModal {
  padding: 32px 60px;
  &__Paragraph {
    &--centered {
      text-align: center;
    }
    color: #728099;
  }
  &__Primary {
    background: #4C7FF7;
    span {
      color: white;
      font-weight: 500;
    }
    &:hover {
      background: #467DF3;
    }
  }
  .ant-modal-footer {
    display: flex;
    justify-content: center;
  }
  .ant-modal-content {
    border-radius: 10px;
  }
}
