@import '../../../css/general_styling.scss';

.InfoItem {
  p {
    @include primary-text($body-2, $on-surface-medium, 400);
  }
  h2 {
    line-height: 16px;
    @include primary-text($body, $on-surface, 500);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: bold;
  }
}
