@import '../../../css/general_styling.scss';
@import 'css/_variables.scss';

.InfoItem {
  h3 {
    @include primary-text(0.625rem, $on-surface-medium, 400);
    text-transform: uppercase;
  }
  p {
    line-height: 14px;
    @include primary-text(0.75rem, $coa-dark-gray-100, 500);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: bold;
  }
}
