@import "../../../css/general_styling.scss";

.InfoItem{
    width: 22%;
    text-align: left;
    img{
        width: 25px;
        height: 25px;
    }
    .anticon {
    margin-top: 5px;}

    .InfoItemData{
        display: flex;
    flex-flow: column-reverse;
        p{
            @include primary-text($body, $grey, 400);
        }
        h2{
            line-height: 16px;
            @include primary-text($body, $on-surface, 600);
        }
    }
}

.InfoItem:first-child{
    width:33%;
}