.o-coaFormModal {
  &__footerContainer {
    display: flex;
    column-gap: 0.5rem;
    justify-content: flex-end;
    margin-top: 2.6rem;
  }
  &__button {
    padding-inline: 2.5rem;
    line-height: normal;
    &__text {
      font-size: 0.875rem;
    }
  }
  &__content {
    margin-bottom: 3rem;
  }
}
