@import 'css/_variables.scss';
@import 'css/mixins/_fonts.scss';

.coaFormItemUpload {
  &__content {
    &__button {
      &.--withError {
        &.--ghost {
          border: solid thin $error-color;
          * {
            color: $error-color;
          }
        }
      }
    }
    .anticon-close {
      display: none;
    }
  }
}
