@import 'css/_variables.scss';
@import 'css/mixins/_fonts.scss';

.coaFormItemUpload {
  &.--withError {
    label {
      color: $error-color;
    }
  }
  .anticon-close {
    display: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
