@import 'css/mixins/_fonts.scss';
@import 'css/_variables.scss';

.m-projectProgressCard {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.625rem;
  width: 22.875rem;
  /* height: 29.375rem; */
  /* justify-items: center; */
  background: #f1f3ff;
  box-shadow: 1px 1px 10px rgba(66, 70, 75, 0.25);
  border-radius: 12px;
  padding-block: 1.31rem;

  &__title {
    margin: 0 !important;
  }
  &__icon {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 24px;
    height: 24px;
    font-size: $coa-white-100;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $coa-white-100;
    &.--progress {
      background: $coa-green-aqua-100;
    }
    &.--expenses {
      background: $coa-dark-gray-100;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }
  &__infoContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.93rem;
  }
  &__title {
    &.--progress {
      @include primary-text(0.75rem, $coa-green-aqua-100, 400);
    }
    &.--expenses {
      @include primary-text(0.75rem, $coa-dark-gray-100, 400);
    }
  }
  &__value {
    &.--progress {
      @include primary-text(1.25rem, $coa-green-aqua-100, 500);
    }
    &.--expenses {
      @include primary-text(1.25rem, $coa-dark-gray-100, 500);
    }
  }
}
