@import 'css/general_styling.scss';

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.userAvatar {
  align-items: flex-start;
  .date {
    @include primary-text($label, $grey, 100);
  }
}
.comment {
  padding: 1em 0;
  border-top: 1px solid #e5e6ed;
  border-bottom: 1px solid #e5e6ed;
  .ant-avatar {
    margin-right: 0.5em;
  }
  .commentText {
    margin: 1em 0;
    p {
      @include primary-text($body, $black, 100);
    }
  }
  a {
    @include primary-text($body, $primary-color, 100);
  }
}
