@import '../../../css/general_styling.scss';

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.userAvatar {
  align-items: flex-start;
  .date {
  @include primary-text($label, $grey, 100);
  }
}
.comment {
  padding:1em 0;
  border-top: 1px solid #E5E6ED;
  border-bottom:1px solid #E5E6ED;
  .ant-avatar {
    margin-right: 0.5em;
  }
  .commentText {
    margin:1em 0;
    p {
    @include primary-text($body, $black, 100);
    }
  }
  a {
    @include primary-text($body, $primary-color, 100);
  }
}
