@import 'css/general_styling.scss';
.StepsContainer {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.StepContent {
  height: 90%;
  .LabelSteps {
    @include primary-text($label, $grey, 400);
    text-transform: uppercase;
  }
  .StepDescription {
    border-left: 3px solid #1479e261;
    margin: 0 0 1em;
    padding: 0.5em 0.5em;
    .LabelSteps {
      margin-top: 0;
      color: #1479e261;
      font-weight: 500;
    }
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      color: #1479e2c2;
    }
  }
  h1 {
    @include primary-text($h1, $secondary-color, 500);
  }

  .ProjectDataContainer {
    width: 100%;
    margin-top: 1em;
  }

  .ProjectImagesContainer {
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    border-top: 1px solid $light-gray;
    padding-top: 1em;
    .DownloadTemplateContainer {
      margin-bottom: 1.4em;
      .vertical {
        padding: 0 0 0 1em;
      }
    }
  }

  .CreateSubtitle {
    @include primary-text($h3, $primary-color, 500);
    width: 100%;
    margin-bottom: 1em;
  }

  .ProjectStep3Container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .IconSuccess {
      font-size: 50px;
      margin: 1em 0 0.25em;
    }

    h1 {
      @include primary-text($h1, $secondary-color, 400);
      margin-bottom: 0.25em;
    }
    h2 {
      @include primary-text($h2, $secondary-color, 300);
      margin-bottom: 1.5em;
    }
  }
}
.DataSteps {
  height: 90%;
  overflow-y: auto;
}
.ant-btn {
  font-size: $button;
}
.ant-btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
  color: $secondary-color;
}
.ControlSteps {
  @include ControlSteps;
}
.UploadExcelFiles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
