@import 'css/general_styling';
@import 'css/_variables.scss';

.hero {
  border-radius: 0 0 0 40px;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  height: 720px;
  gap: 16px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    width: 100%;

    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 30px;

      h3 {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
      }

      h1 {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
        color: #ffffff;
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;

    .backoffice {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2.5rem;
      @include breakpoint(md) {
        flex-direction: row;
      }
    }
  }
}
