@import "../../../css/general_styling.scss";

.FileVerification {
  width: 50%;
  border: 1px solid $medium-grey;
  border-radius: 6px;
  text-align: center;
  padding: 1em 0;
  height: 150px;
  overflow-y: auto;

  .IconVerify {
    font-size: 20px;
  }

  li {
    text-align: left
  }

  h2 {
    @include primary-text($h2, $secondary-color, 400);
  }

  p {
    @include primary-text($body, $grey, 300);
  }
}