@import "../../../css/general_styling.scss";

.WrapperModalLogin {
  display: inline-block;
}
    .ModalLogin{
      width: 470px;
      margin-top: 115px;
      .ant-modal-content {
        border-radius: 10px !important;
      }
      .ant-modal-body{
        padding: 2.5em 2.5em;
        border-radius: 10px;
      }
      .TitlePage h1{
        font-weight:bold !important;
        /*find the variable that represents this tone*/
        color: #4C7FF7 !important;
        font-size: 24px;
        text-align: center;
      }
      .TitlePage h1::after{
        display:none;
      }
      .Linear {
        margin: 2em 0 0.5em;
        hr {
          width: 38%;
          margin: 0;
          border: 0.5px solid $border;
        }
        p {
          @include primary-text($medium, $on-surface-medium, 400);
          margin: 0 1em;
          width: 25%;
          text-align: center;
        }
      }
      .ant-form-item{
        margin-bottom: 0.5em;
      }
      .ant-btn.Primary{
        width: 100%;
        margin-top:1em;
      }
      .ant-form-item-label label{
        font-size: $labels;
        font-weight: 500;
      }
      .ant-form-item-label label::after{
        display:none;
      }
      .link{
        justify-content: center;
        border-top: 1px solid $border;
        padding: 0.5em;
        margin-top: 1em;
      }
      .LogoWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-evenly;
        margin-top: 12px;
      }
    }
