@import "../../../css/general_styling.scss";

.WrapperModalLogin {
  display: inline-block;
  .ModalLogin{
    .Linear {
      margin-top: 3em;
      hr {
        width: 30%;
        margin: 0;
        border: 0.5px solid $border;
      }
      p {
        @include primary-text($medium, $on-surface-medium, 400);
        margin: 0 1em;
      }
    }
  }
  }