@import "../../../css/general_styling.scss";

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0.5em 2em 0.5em 0.5em;
  border-bottom: 1px solid $border;
  background-color: $white;
  height: 8vh;
  @include breakpoint(sm) {
    justify-content: flex-end;
  }
  .Logo {
    @include breakpoint(sm) {
      display:none
    }
  } 
  .RightSide {
    display: flex;
    justify-content: flex-end;
    width: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .HeaderContainer {
    width: 93vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(sm) {
      justify-content: flex-end;
    }
    .RightSide {
      width: 45%;
    }
  }
}
@media screen and (max-width: 770px) {
  .HeaderContainer {
    width: calc(100%);

    .RightSide {
      width: 30%;
    }
  }
}
@media screen and (max-width: 450px) {
  .HeaderContainer {

    .RightSide {
      width: 80%;
    }
  }
}
