@import '../css/general_styling.scss';

.SignatoryList {
  margin-top: 0;
  display: flex;
  width: 100%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .TabCollaboration {
    display: flex;
    flex-flow: column;

    .DownloadAgreementContainer {
      width: 25%;
      justify-content: flex-start;
    }
    .UploadFileContainer {
      h2,
      p {
        display: none;
      }
    }
  }
}

