@import "../css/general_styling.scss";

.SignatoriesContainer{
  padding: 0 1.5em;

    h1{
      @include primary-text($h1, $secondary-color, 400);
      margin: 1.5em 0 0.25em;
    }

    .StepDescription{
      @include primary-text($h3, $grey, 400);
    }

    h2{
      @include primary-text($h2, $secondary-color, 400);
      margin: 0.5em 0 1em;
    }

    .SignatoryList{
      margin-top: 2em;
      display: flex;
      width: 100%;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
}

.ant-tabs-bar{
  margin-bottom: 2.5em;
  font-family: "Montserrat", sans-serif;
}
