@import '../css/general_styling.scss';

.p-createProject {
  &__container {
    display: grid;
    grid-template-rows: auto 5rem;
    height: 100%;
    position: relative;
    width: 100%;
  }
  &__footerButtons {
    position: sticky;
    bottom: 0;
  }
}

.HtmlEditor {
  .quill {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid $border;
    margin-top: 1em;
    border-radius: 4px;
    span {
      color: $on-surface;
    }
  }
  .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
  .ql-snow .ql-stroke {
    stroke: $primary-color;
    color: $primary-color;
  }
  .ql-snow.ql-toolbar button {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .ql-toolbar.ql-snow {
    border: none;
  }
  .ql-container.ql-snow {
    height: 50vh;
    border: none;
    border-bottom: 1px solid $border;
  }
  p {
    margin-bottom: 1em;
  }
}
