@import '../css/general_styling.scss';

.CreateProjectContainer {
  padding: 0 1.5em;
  height: 100vh;

  h1 {
    @include primary-text($h1, $black, 400);
    margin: 1.5em 0 0.5em;
  }

  .ProjectImagesContainer {
    display: flex;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    padding-bottom: 1.5em;
    border-bottom: 1px solid $light-grey;
  }
  .ProjectDataContainer {
    width: 100%;
    margin-top: 1.5em;
  }
  .CreateSubtitle {
    @include primary-text($h1, $primary-color, 300);
    width: 100%;
    margin-bottom: 1em;
  }

  .StepContent {
    height: 90%;
    overflow-y: scroll;
    padding-right: 1em;
  }

  .ControlSteps {
    border-top: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
  }

  .ProjectStep3Container {
    display: flex;
    flex-flow: column;
    align-items: center;

    .IconSuccess {
      font-size: 50px;
      margin: 1em 0 0.25em;
    }

    h1 {
      @include primary-text($h1, $secondary-color, 400);
      margin-bottom: 0.25em;
    }
    h2 {
      @include primary-text($h2, $secondary-color, 300);
      margin-bottom: 1.5em;
    }
  }

  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 20px;
  }
}
