@import "../css/general_styling.scss";

.ProjectsContainer {
  margin-top: 60px;
  padding: 0 1.5em;

  h1 {
    @include primary-text($h1, $secondary-color, 400);
    margin: 1.5em 0;
  }

  .ProjectsCardsContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
}
