@import "../css/general_styling.scss";

.ProjectsCardsContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 1em;
}
.titlepage{
  border-left: 3px solid $medium-grey;
  padding: 0 0.5em;
  margin: 1.5em 0;
  h1 {
    @include primary-text($h1, $secondary-color, 600);
  }
}
.title{
    @include primary-text($h1, $secondary-color, 600);
}

