@import "../css/general_styling.scss";

.ProjectInfoHeader{
  padding: 1.5em 2em;
  border-bottom:1px solid $medium-grey;
  h1 {
    @include primary-text($h1, $secondary-color, 600);
  }
  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
  }
  .Data{
  
  .TextGray{
    @include primary-text($body-2, $secondary-color, 500);
  }
  .TextBlue{
    @include primary-text($body-2, $primary-color, 500);
  }
  }
  .Overline{
    @include primary-text($body, $grey, 500);
  }
  .ant-divider, .ant-divider-vertical{
    height: 2.5em;
    margin: 0 0.8em;
  }
}
.ProjectContainer {
  margin-top: 50px;
  height: 90%;
  overflow-y: scroll;

  .ProjectHeader {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;
    height: 250px;
    width: 100%;
    img {
      height: auto;
    }
  }
  .ProjectEnterprice {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    position: absolute;
    padding: 2em;
    h1 {
      @include primary-text($title, $white, 400);
    }
    p {
      @include primary-text($h2, $white, 300);
    }
  }

  .ProjectContent {
    display: flex;
    justify-content: space-between;
    .ProjectGeneralData {
      width: 35%;
      padding: 2em;
      h1 {
        @include primary-text($h1, $black, 400);
        margin-bottom: 0.5em;
      }
    }
  }
}

.SubmitProject {
  height: 10%;
  margin: 0 2em;
  border-top: 1px solid $medium-grey;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
