@import '../css/general_styling.scss';

.ProjectContainer {
  height: 90%;
  overflow-y: auto;

  .ProjectHeader {
    position: relative;
    height: 45%;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    .Banner {
      width: 100%;
      height: 100%;
    }
  }
  .BlockContent {
    height: 55%;
    padding: 1em 3em;
  }
  .ProjectEnterprice {
    background: rgb(0, 0, 0);
    height: 80%;
    background: linear-gradient(0deg, #0000003d 0%, #000000c7 -3%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em 3em;
    display:flex;
    align-items: flex-end;
    justify-content:space-between;
    h1 {
      line-height: 40px;
      @include primary-text($titlebig, $white, 600);
    }
    p {
      @include primary-text($labelbig, $white, 400);
      opacity: 0.7;
    }
    .Item {
      margin-left: 1em;
      h2 {
        @include primary-text($medium, $white, 400);
        line-height: 17px;
      }

      img {
        margin-right: 1em;
      }
    }
  }

  .ProjectContent {
    display: flex;
    justify-content: space-between;
    height: 50%;
    .ProjectGeneralData {
      width: 30%;
      padding: 0 1.5em;
      .title {
        @include primary-text($h1, $secondary-color, 600);
      }
    }
  }
}
.block {
  margin: 1em 0;
}
.SubmitProject {
  @include ControlSteps;
  margin: 0 1.5em;
}
.grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 21px;
  align-items: stretch;
}
.cardExperience,
.cardExperienceText {
  border-radius: 4px;
  overflow: hidden;
  overflow-wrap: break-word;
  position: relative;
  box-shadow: $shadow;
  .absolute {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 95%;
    color: white;
    padding: 1em;
    text-shadow: 0px 0px 2px black;
    p {
      @include primary-text($body-2, $white, 600);
    }
    span {
      @include primary-text($label, $white, 400);
    }
    h3 {
      @include primary-text($h3, $white, 600);
    }
  }
}
.cardExperience:last-child {
  margin-right: 0;
}

.cardExperience:hover,
.cardExperienceText:hover {
  img {
    filter: brightness(0.6);
    transition: 1s;
  }
  h3 {
    overflow-y: auto;
  }
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 230px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
  width: 100%;
}
.ant-carousel .slick-dots {
  position: absolute;
  bottom: 0;
  right: 35px;
  display: block;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  transform: rotate(90deg);
}
.ant-carousel .slick-dots li button {
  width: 22px;
  height: 5px;
}
.cardExperienceText {
  height: 230px;
  .absolute {
    text-shadow: none;
    justify-content: start;
    width: 100%;
    p {
      @include primary-text($body-2, $on-surface, 600);
    }
    span {
      @include primary-text($label, $on-surface, 400);
    }
    h3 {
      @include primary-text($h3, $on-surface, 400);
      margin-top: 2em;
      position: relative;
    }
  }
  h3:before {
    content: open-quote;
    top: 20px;
  }
  h3:after {
    content: close-quote;
    content: close-quote;
    bottom: -20px;
    right: 0;
  }
  h3:after,
  h3:before {
    line-height: 0px;
    color: #7372711a;
    font-size: 8em;
    position: absolute;
  }
}
.ant-tabs-bar {
  margin-bottom: 0;
}
.Experiences {
  padding: 1em 1.5em;
}
.ModalNewExperience {
  p {
    @include primary-text($body-2, $on-surface, 400);
  }
  textarea {
    margin: 1em 0;
  }
  textarea.ant-input {
    font-size: $body-2;
  }
  .ant-modal-footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
