@import "../css/general_styling.scss";

.ProjectContainer {
  height: 90%;
  overflow-y: auto;

  .ProjectHeader {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: relative;
    height: 50%;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  .ProjectEnterprice {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em 1.5em;
    h1 {
      @include primary-text($title, $white, 600);
    }
    p {
      @include primary-text($h2, $white, 400);
    }
  }

  .ProjectContent {
    display: flex;
    justify-content: space-between;
    height: 50%;
    .ProjectGeneralData {
      width: 30%;
      padding: 0 1.5em;
    }
  }
}
.block{
  margin:1em 0;
}
.SubmitProject {
  @include ControlSteps;
  margin: 0 1.5em;
}