@import "../css/general_styling.scss";

.listItem{
    @include primary-text($body, $grey,400);
  .anticon{
    margin-right: 0.5em;
  }
  .ant-divider, .ant-divider-vertical
  {
    height: 1.1em;
  }
}
.b-right{
  border-left: 3px solid $primary-color;
  padding: 0 1em;
}