@import "../css/general_styling.scss";

.Register {
  padding: 75px 25px 0;
  .TitleSection {
    h1 {
      @include primary-text($h1, $primary-color, 500);
      text-transform: uppercase;
    }
    p {
      @include primary-text($body, $grey, 400);
      text-transform: uppercase;
    }
  }

  .ButtonPrimary{
      width: 10%;
  }

  .ant-form {
    @include primary-text($body, $grey, 400);
    width: 25%;
    margin-top: 3em;
    .ant-form-item {
      padding-bottom: 0;
      .ant-form-item-label > label{
        color: $grey;
      }
    }
  }
}
