@import '../css/general_styling.scss';
.RegisterWrapper{
  overflow: hidden;
  height: 100vh;
  .TopBar{
    height: 7%;
    border-bottom: 1px solid $border;
    padding: 0 1em;
    @include breakpoint(sm) {
height: 20%;
    }
  }
  .RegisterSteps {
height: 93%;
  }
}
.RegisterSteps {
  display: flex;
  flex-direction: row;
  .BlockSteps {
    width: 25%;
    background: $light-gray;
    padding: 5em 0;
    .ant-steps {
      width: 90%;
    }
    .ant-steps-dot .ant-steps-item-content {
      width: 100%;
    }
    .ant-steps-dot .ant-steps-item-icon {
      margin-left: 21px;
    }
    .ant-steps-dot .ant-steps-item-tail {
      margin: 0 0 0 24px;
    }
    .ant-steps-item-process
      .ant-steps-item-icon
      > .ant-steps-icon
      .ant-steps-icon-dot {
      background: $primary-color;
    }
  }
  .BlockContent {
    width: 75%;
    .steps-content {
      height: 87%;
      position: relative;
      padding: 3.5em;
      .TitlePage h1 {
        margin-bottom: 2.5em;
      }
      .FormRegister {
        margin: 2em 0 2em;
        .ant-form-item-label label {
          @include primary-text($labels, $on-surface-medium, 600);
        }
          .InputTwoLabel{
            position: relative;
            top: -1.5em;
          }
      }
      .Linear {
        margin-top: 3em;
        hr {
          width: 43%;
          margin: 0;
          border: 0.5px solid $border;
        }
        p {
          @include primary-text($medium, $on-surface-medium, 400);
          margin: 0 1em;
        }
      }
      .InfoStep {
        position: absolute;
        top: 40%;
        right: 103%;
        text-align: center;
        width: 300px;
        h2 {
          @include primary-text($labelbig, $on-surface, 400);
        }
        h4 {
          @include primary-text($medium, $on-surface-medium, 400);
        }
      }
      .ant-checkbox-wrapper span {
        @include primary-text($body,$on-surface ,400)
    }
    }
    .steps-action {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 13%;
      margin: 0 3.5em;
      align-items: center;
      border-top: 1px solid $border;
    }
  }
}
