@import '../css/general_styling.scss';

.ProjectStepsContainer {
  height: 80%;
  overflow-y: scroll;

  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
    margin-top: 1.5em;
  }

  h1 {
    @include primary-text($h1, $secondary-color, 600);
  }

  h2 {
    @include primary-text($h2, $secondary-color, 400);
    margin: 0.5em 0 1em;
  }
}
.ProjectStepsContainerNS {
  height: 80%;

  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
    margin-top: 1.5em;
  }

  h1 {
    @include primary-text($h1, $secondary-color, 600);
  }

  h2 {
    @include primary-text($h2, $secondary-color, 400);
    margin: 0.5em 0 1em;
  }
  .StepDescription {
    height: 9%;
  }
  .ProjectInfoHeader {
    height: 16%;
  }
  .ContainerTableScroll {
    height: 68%;
    overflow-y: scroll;
  }
}
.ControlSteps {
  @include ControlSteps;
}

.hashDisplay {
  display: flex;
  justify-content: space-between;
  .speech-bubble-ds {
    min-width: 20em;
    max-width: 30em;
    position: relative;
    margin-left: 14em;

    .speech-bubble-ds-arrow {
      top: 70%;
    }
  }
}

.ProjectInfoHeader {
  padding: 0.5em 0;
  h1 {
    @include primary-text($h1, $secondary-color, 600);
  }
  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
  }

  .ant-alert {
    margin-left: 1em;
    padding: 4px 24px 4px 24px;
    .ant-alert-icon {
      position: absolute;
      top: 7.5px;
      left: 5px;
    }
    span {
      @include primary-text($body, $primary-color, 500);
      color: #436a86;
    }
    .ant-alert-close-icon {
      top: 3px;
      right: 9px;
    }
  }
  .Data {
    button {
      margin-right: 0.5em;
    }
    .TextGray {
      @include primary-text($body-2, $secondary-color, 500);
    }
    .TextBlue {
      @include primary-text($body-2, $primary-color, 500);
    }
    .TextGreen {
      @include primary-text($body-2, $sucess-color, 500);
    }
    a.TextBlue {
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .Overline {
    @include primary-text($body, $grey, 500);
  }
  .ant-divider,
  .ant-divider-vertical {
    height: 2.5em;
    margin: 0 1.2em;
  }
}
.ContentStep {
  @include Content;
}
.ant-divider-horizontal {
  margin: 1em 0;
}
.StepDescription {
  border-left: 3px solid #1479e261;
  margin: 0 0 1em;
  padding: 0.5em 0.5em;
  .LabelSteps {
    margin-top: 0;
    color: #1479e261;
    font-weight: 600;
  }
  h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #1479e2c2;
  }
}
