@import '../css/general_styling.scss';

.ProjectStepsContainer {
  height: 80%;
  overflow-y: scroll;

  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
    margin-top: 1.5em;
  }

  h1 {
    @include primary-text($h1, $secondary-color, 400);
  }

  .StepDescription {
    border-left: 3px solid #1479e261;
    margin: 1em 0 1.5em;
    padding: 0.5em 1em;
    .LabelSteps {
      margin-top: 0;
      color: #1479e261;
      font-weight: 600;
    }
    h3 {
      margin: 0;
      font-size: 14px;
      font-weight: 500;
      color: #1479e2c2;
    }
  }

  h2 {
    @include primary-text($h2, $secondary-color, 400);
    margin: 0.5em 0 1em;
  }
}

.ControlSteps {
  border-top: 1px solid $light-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

.StepOne {
  justify-content: flex-end;
}
.ProjectInfoHeader {
  padding: 1em 0;
  border-bottom: 1px solid $medium-grey;
  h1 {
    @include primary-text($h1, $secondary-color, 600);
    margin-bottom: 0.4em;
  }
  .LabelSteps {
    @include primary-text($label, $grey, 500);
    text-transform: uppercase;
  }
  .Data {
    .TextGray {
      @include primary-text($body-2, $secondary-color, 500);
    }
    .TextBlue {
      @include primary-text($body-2, $primary-color, 500);
    }
    a.TextBlue {
      width: 135px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .Overline {
    @include primary-text($body, $grey, 500);
  }
  .ant-divider,
  .ant-divider-vertical {
    height: 2.5em;
    margin: 0 1.2em;
  }
}
.ContentStep {
  @include Content;
}
