@import "../css/general_styling.scss";

.AppContainer {
  display: flex;
}

.MainContent {
  display: flex;
  width: 95vw;
  flex-flow: column;
}

.ButtonContainer {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  position: absolute;
  top: 20vh;

  .ButtonPrimary {
    margin :1em;
  }
  h1 {
    text-align: center;
  }
}