@import "../css/general_styling.scss";

.AppContainer {
  display: flex;
}

.MainContent {
  display: flex;
  flex-flow: column;
  width: 95vw;
  margin-left: 80px;
  height: 100vh;
}

.ButtonContainer {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  position: absolute;
  top: 20vh;

  .ButtonPrimary {
    margin :1em;
  }
  h1 {
    text-align: center;
  }
}

.FunderButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: inherit;;
}

@media screen and (max-width: 770px) {
  .MainContent {
    margin-left: 0px;
  }
}