@import '../css/general_styling.scss';

.AppContainer {
  display: flex;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
 }
 
 .MainContent {
  display: flex;
  flex-flow: column;
  width: 97vw;
  margin-left: 50px;
  height: 100vh;
  overflow-x: hidden;
 }
 .Content{
  @include Content;
 }
 .ContentComplete{
  @include ContentComplete;
 }
 
 .ButtonContainer {
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  position: absolute;
  top: 20vh;
 
  .Primary {
    margin: 1em;
  }
  h1 {
    text-align: center;
  }
 }
 h3{
  font-weight: 600;
 }
 p {
  margin-top: 0;
  margin-bottom: 0em;
}
 .FunderButtonContainer {
  display: flex;
  flex-flow: row;
  justify-content: inherit;
 }
 
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #bfc5ccad;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #fff;
  border-radius: 20px;
}
 .flex{
  display:flex;
  align-items:center;
 }
  .center{
  display:flex;
  align-items:center;
  justify-content:center;
 }
 .space-between{
  display:flex;
  justify-content: space-between;
  align-items:center;
 }
 .vertical{
  display:flex;
  justify-content: center;
  flex-direction:column;
 }
 .ant-breadcrumb{
  padding: 1em 0 0 0;
 }
 @media screen and (max-width: 770px) {
  .MainContent {
    margin-left: 0px;
  }
 }
 .has-error .ant-form-explain,
 .has-error .ant-form-split {
  @include primary-text($label, $danger-color, 400);
  margin-bottom: 0;
  margin-top: 0.7em;
  font-style: italic;
  min-height: 15px;
 }