@import "../css/general_styling.scss";

.TransferConfirmationContainer{
  padding: 0 1.5em;

    h1{
      @include primary-text($h1, $secondary-color, 400);
      margin: 1.5em 0;
    }

    .TransferConfirmationContent{
      display: flex;
      flex-flow: column;
      align-items: center;

      h2{
        @include primary-text($h2, $secondary-color, 400);
        margin: 0;
      }

      img{
        width: 100px;
      }

      .ant-skeleton-title{
        display: none;
      }
      .ant-skeleton-paragraph{
        padding-left:0; 
      }

      .MoreInfo{
        display: flex;
        border-radius: 6px;
        box-shadow: $shadow;
        padding: 1em 2em;
        width: 90%;
        margin-top: 2em;

        .anticon{
          font-size: 30px;
          margin-right: 1em;
          margin-top: 20px;
        }
      }
    }
}