@import '../css/general_styling.scss';

.TransferContent {
  display: flex;
  flex-flow: column;
  width: 100%;
  border-radius: 6px;
  box-shadow: $shadow;
  padding: 2em;
  margin-top: 1.5em;

  h2 {
    @include primary-text($h2, $secondary-color, 400);
    margin: 0;
  }

  .TransferBankInfo {
    margin-bottom: 1em;
    h3 {
      @include primary-text($body, $primary-color, 400);
      margin-top: 1em;
    }
    h4 {
      @include primary-text($body, $secondary-color, 300);
      margin: 0;
    }
  }

  .ant-skeleton-title {
    display: none;
  }
  .ant-skeleton-paragraph {
    padding-left: 0;
  }

  .ControlSteps {
    margin-top: 1.5em;
    border-top: 1px solid $light-grey;
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
  }
}
