@import "../../../css/general_styling.scss";

.cardExperience {
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: 1px solid $border;
  overflow-wrap: break-word;
}

.cardExperience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 1em 1em;
  min-height: 230px;
  .CustomExpandableParagraph {
    transition: all 0.1s linear;
    transition-delay: 0.1s;
    // position: relative;
    span {
      @include primary-text($body-2, $on-surface, 400);
    }
    text-align: center;
    width: 90%;
    margin: 0 auto;
    &:before {
      content: '"';
      top: 30px;
      left: -15px;
    }
    &:after {
      content: '"';
      bottom: -15px;
      right: -8px;
    }
    &:after,
    &:before {
      line-height: 0px;
      color: #6e6f7317;
      font-size: 8em;
      position: absolute;
    }
  }


}
