@import "../../../css/general_styling.scss";

.GeneralItem{
    margin-right:1.5em;
    img{
      margin-right: 1em;
      opacity: 0.7;
      width: 20px;
    }
    .Info{
        @include primary-text($body, $white, 400);
        opacity: 0.7;
        line-height: 19px;
    }
    .HeaderData{
        .anticon{
            margin-right: 0.5em;
        }
        .Label{
            @include primary-text($body,$white, 600);
            line-height: 19px;
            opacity:1;
        } 
                a.Label{
                    @include primary-text($body,$white, 400);
                    opacity: 0.7;
                    line-height: 19px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                &:hover{
                    opacity: 1;
                    }
                    @include breakpoint(sm) {
                    width: 90vw;
                    }
                    .Separate{
                        margin-left: 2em;
                        @include breakpoint(sm) {
                        margin-left: 0;
                        }
                    }

                }
                a.Label .link
                {
                        @include breakpoint(sm) {
                            color: $primary-color;
                            opacity:1
                        }
                    }
    }
}
.GeneralItem:last-child {
    margin-right:0;
}