@import 'css/_variables.scss';

.mainContent {
  display: flex;
  align-items: stretch;
  width: 100%;
  flex-direction: column;
  background: white;
  &__header {
    height: $header-height;
  }
  &__content {
    flex: 1;
  }
}
