  .LogoWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    margin-top: 12px;
    img {
      height: 56px;
      margin-bottom: 16px;
    }
    h1 {
      font-weight: bold !important;
      color: #4C7FF7 !important;
      font-size: 24px;
      text-align: center;
      line-height: 28px;
      &::after {
        display: none;
      }
    }
  }
