@import "../../../css/general_styling.scss";

.TableAdmin {
  font-family: 'Source Sans Pro', sans-serif;

  .ant-tag{
    border-radius: 20px;
    padding: 0 20px;
    text-transform: uppercase;
  }

  .Primary{
    transform: scale(0.8);
  }

  select {
    background: $white;
    height: 30px;
    border: none;
    align-items: center;
    outline: none;
    border: 1px solid $grey;
    width: 160px;
    cursor: pointer;
    @include primary-text($button, $secondary-color, 400);
    text-transform: uppercase;
  }
  
}


