@import "../../../css/general_styling.scss";

.TableAdmin {
  font-family: "Montserrat", sans-serif;

  .ant-tag{
    border-radius: 20px;
    padding: 0 20px;
    text-transform: uppercase;
  }

  .ButtonPrimary{
    transform: scale(0.8);
  }

  select {
    background: $primary-color;
    height: 30px;
    border: none;
    align-items: center;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    @include primary-text($button, $white, 400);
    text-transform: uppercase;
  }
  
}