@import 'css/_variables.scss';

$button-border-color: 1px solid $coa-blue-100;

.customButton {
	font-size: 0.85rem;
	cursor: pointer;
	padding: 0.55rem 0.7rem;
	border-radius: 4px;
	box-shadow: 0px 1px 6px rgba(0, 1, 1, 0.17);
}

.primary {
	background: $coa-blue-100;
	color: white;
	border: $button-border-color;
}

.alert {
  background: $coa-orange-200;
  color: white;
  border: 1px solid $coa-orange-200;
}

.default {
	background: white;
	color: #4c7ff7;
	border: $button-border-color;
}
