@import '../../../css/general_styling.scss';

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}

.verticalStart {
  align-items: flex-start;
}

.userAvatar {
  align-items: flex-start;
  .date {
  @include primary-text($label, $grey, 100);
  }
}
.ReplyWriting {
  width: 100%;
  margin-top: 1em;
  padding:1em 2em;
  border-top: 1px solid #E5E6ED;
  .ant-avatar {
    margin-right: 0.5em;
  }
  .write {
    width: 100%;
    align-items: flex-start;
  }
}
