.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  &__background {
    background-image: url('/static/images/coa-background-2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: calc(100vh - 60px - 100px); // Navbar: 60px, Footer: 100px
  }
}
