@import 'css/general_styling.scss';

.TransferLabel {
  background: $white;
  border: 1px solid $white;
  border-radius: 5px;
  height: 30px;
  margin: 0.5em;
  padding: 0.35em 1.5em;
  display: flex;
  align-items: center;

  img {
    margin-right: 0.75em;
  }
}

.theme-pending {
  background: rgba(114, 128, 153, 0.2);
  border: 1px solid #728099;

  p {
    @include primary-text($body, #728099, 400);
  }
}

.theme-success {
  background: rgba(21, 211, 128, 0.2);
  border: 1px solid #15d380;
  p {
    @include primary-text($body, #15d380, 400);
  }
}

.theme-cancel {
  background: rgba(255, 0, 80, 0.2);
  border: 1px solid #ff0050;
  p {
    @include primary-text($body, #ff0050, 400);
  }
}
