@import "../../../css/general_styling.scss";

.ButtonPrimary {
  background: $primary-color;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;

  p {
    @include primary-text($button, $white, 400);
    text-transform: uppercase;
  }
}