@import "../../../css/general_styling.scss";

.ProjectCard {
  min-height: 374px;
  margin-bottom: 8px;
  
  .ProjectDescription {
    width: 100%;
    height: 270px;
    background: #ECECEC;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
    img {
      border-radius: 4px;
      height: 100%;
      width: 100%;
    }
    .BlockTags{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 1em;
      left:1em;
      z-index: 9;
      .ant-tag{
        cursor: pointer;
        .anticon{
          margin-left:0.5em;
        }
      }
    }
  }
  > div {
    height: 100%;
  }
  .ProjectSummary {
    padding-top: 8px;
    .ProjectName {
      font-weight: bold;
      font-size: 20px;
    }
  }
  .ContentContainer {
    height: 373px !important;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 6px rgba(0, 1, 1, 0.17);
    padding: 8px;
    align-items: center;
    height: 100%;
    transition: 0.3s;
    background: $surface;
    cursor: pointer;
    justify-content: center;
    &:hover{
      box-shadow: $shadow-big;
    }
  }
}
.CardProject {
  cursor: pointer;
  position: relative;
  min-height: 390px;
  .ant-col-1{
    margin: 0 0.5em;
  }
  .ant-divider, .ant-divider-vertical{
    height: 2em;
  }
  .ProjectDescription {
    width: 100%;
    height: 270px;
    background: #ECECEC;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
    .BlockTags{
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 1em;
      left:1em;
      z-index: 9;
      .ant-tag{
        cursor: pointer;
        .anticon{
          margin-left:0.5em;
        }
      }
    }
  }
}
.CardProject:last-child{
  margin-right:0; 
}
.CardProject:hover {
  .hoverText {
    display: inline-block;
  }
}
.hoverText {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  position: absolute;
  z-index: 1;
}

@media screen and (max-width: 768px) {
    .CardProject {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    .CardProject {
        width: 100%;
    }
}
