@import 'css/general_styling.scss';
@import 'css/mixins/_fonts.scss';
@import 'css/_variables.scss';

.m-cardProject {
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  cursor: pointer;
  min-height: fit-content;

  &.--empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 6px rgba(0, 1, 1, 0.17);

    img {
      width: 7rem;
    }
  }

  &__cover {
    height: 16.75rem;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    background: $coa-white-100;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__body {
    display: flex;
    row-gap: 0.25rem;
    flex-direction: column;
    &__tagsContainer {
      display: flex;
      column-gap: 0.25rem;
    }
    &__titleContainer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      min-height: 3rem;
      column-gap: 1.5rem;

      &__title {
        @include primary-text(1.25rem, $coa-dark-gray-100, 700);
        &__rev {
          margin-left: 0.4rem;
          @include primary-text(0.8rem, $coa-light-gray-100, 700);
        }
      }
    }
    &__description {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include breakpoint(sm) {
        flex-wrap: wrap;
        column-gap: 1rem;
      }

      &__country {
        width: 30%;
        @include breakpoint(sm) {
          width: 46%;
        }
      }
      &__timeframe {
        width: 18%;
        @include breakpoint(sm) {
          width: 46%;
        }
      }
      &__budget {
        width: 16%;
        @include breakpoint(sm) {
          width: 46%;
        }
      }
      &__beneficiary {
        width: 30%;
        @include breakpoint(sm) {
          width: 46%;
        }
      }
    }
    &__divider {
      height: 100%;
      @include breakpoint(sm) {
        display: none;
      }
    }
  }
}
