@import "../../../css/general_styling.scss";

.CardProject {
  margin-bottom: 2em;
  cursor: pointer;
  position: relative;
  .ant-tag{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 9;
    cursor: pointer;
  }
  .ant-tag:hover{
    transform: scale(1.1);
    opacity: 1;
  }
  .ant-col-1{
    margin: 0 0.5em;
  }
  .ant-divider, .ant-divider-vertical{
    height: 2em;
  }
  .ProjectDescription {
    width: 100%;
    height: 270px;
    background: #ECECEC;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    overflow: hidden;
      background-image: url('/static/images/empty-img.svg');
    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }
  .ProjectSummery {
    padding-top: 0.5em;
    h1{
      @include primary-text($titlecard, $on-surface, 600);
    }
  }
}
.CardProject:last-child{
  margin-right:0; 
}

@media screen and (max-width: 768px) {
    .CardProject {
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    .CardProject {
        width: 100%;
    }
}