.PreviouslyUploadedList {
    height: 38px;
    margin-top: 10px;
}

.PreviouslyUploadedListModal {
    width: 100%;
}

.FieldFileGeneralItem{
    img{
      filter: invert(100%);
    }
    a.Label {
        color: black !important;
    }

}