@import "./css/general_styling.scss";

.AppContainer {
  display: flex;
}

.MainContent {
  display: flex;
  width: 95vw;
  flex-flow: column;

  .NoConnection {
    width: 60%;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 3em;
    h1 {
      @include primary-text(2em, $primary-color, 400);
    }
    h3 {
      @include primary-text(1.25em, $secondary-color, 400);
    }
    img {
      width: 100px;
      margin-bottom: 2em;
    }

    .MetamaskLink {
      background-color: $white;
      box-shadow: $shadow;
      padding: 1em 1.5em;
      border-radius: 6px;
      display: flex;
      align-items: center;
      margin-top: 2em;
      img {
        width: 40px;
        margin: 0;
        margin-right: 1.25em;
      }
      h3 {
        a {
          color: #f79220;
        }
      }
    }
  }
}

// @media screen and (max-width: 450px) {
//   .MainContent {
//     width: 85vw;
//     margin-left: 15vw;
//   }
// }
