@import 'css/_variables.scss';
@import 'css/_general_styling.scss';

.assignProjectUsers {
  &__content {
    overflow-y: auto;
    padding-inline: 2.5rem;
    padding-block: 2.125rem;
  }
}

.formProjectUsers {
  &__section {
    display: flex;
    justify-content: space-between;
    &__title {
      @include primary-text(1.3rem, $black, 500);
      line-height: 1.5rem;
    }
  }

  &__buttons {
    &__right {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      p {
        color: $error-color;
      }
    }
  }
}
