@import 'css/_general_styling.scss';
@import 'css/_variables.scss';

.termAndConditionsContainer {
  width: 100%;
  padding-inline: 5rem;
  margin-block: 2.5rem;

  display: flex;
  flex-direction: column;

  &__content {
    margin-top: 1rem;
  }
  &__title {
    font-size: 2.5rem;
    color: $coa-blue-100;
  }
}