@import '../../../../css/general_styling.scss';

.RegisterStep4 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .InfoStep {
      img {
        margin-bottom: 1em;
        width: 150px;
      }
    }
  .BlockCongrats {
    text-align: center;
    h1 {
      @include primary-text($title, $on-surface, 500);
    }
    h2 {
      @include primary-text($subtitle, $on-surface-medium, 500);
    }
    p {
      @include primary-text($body, $on-surface-medium, 500);
      margin-top: 2em;
      &::before {
        background: $border;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        width: 10%;
        top: 4.5em;
        left: 46%;
      }
    }
  }
  .BlockKeyWords {
    .SubtitleSection{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      h2 {
        color: $secondary-color;
        margin-left: 1em;
      }
    }
  }
}
