@import 'css/general_styling.scss';

.Experiences {
  padding-top: 2em;
}

.messageContainer {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messageNoExperiences {
  text-align: center;
  font-size: 18px;
}

.ModalNewExperience {
  width: 40vw;
  p {
    @include primary-text($body-2, $on-surface, 400);
  }
  textarea {
    background: #f7f8fd;
    border: transparent;
    .ant-form-item {
      margin-bottom: 0.5em;
    }
  }
  textarea::placeholder {
    color: $on-surface-medium;
  }
  textarea.ant-input {
    font-size: $body-2;
  }
  .ant-modal-footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
