@import "../../../css/general_styling.scss";

.CardNewProyect {
  position: relative;
overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $grey;
  min-height: 340px;
  cursor: pointer;
  transition: 0.3s;
    &:hover{
  transform: scale(1.01);
  }
  img{
    margin-bottom: 1em;
  }
  h1 {
    @include primary-text($labelbig, $on-surface-medium, 600);
  }
 button{
  box-shadow: $shadow;
  border-radius: 4px;
  background: $surface;
  width:100%;
  height:100%;
  margin-bottom:2em;
  transition: 0.3s;
  &:hover{
    box-shadow: $shadow-big;
  }
 }
}
.CardNewProyect::before{
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.1s linear;
  background: $primary-color;
  transition-delay: 0.1s;
  border-radius: 50px;
  bottom: 32%;
}
.CardNewProyect:hover::before, .CardNewProyect:hover::after{
  width: 24%;
  transition-delay: 0.2s;
}