@import 'css/_general_styling.scss';
@import 'css/_variables.scss';

.coaAlert {
  &__content {
    padding-block: 0.8rem;
    padding-inline: 1.2rem;
    &__message {
      @include primary-text(0.875rem, $white, 400);
    }
    &__highlightedText {
      @include primary-text(0.875rem, $white, 700);
      margin-right: 0.3rem;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.25);
  border: none;

  &.--yellow {
    background: $coa-yellow-100;
  }

  &.--blue {
    background: $coa-blue-100;
  }

  &.--green {
    background: $coa-green-aqua-100;
  }

  .ant-alert-close-icon {
    position: static;
    i {
      color: $white;
      font-size: 1.1rem;
    }
  }
}
