@import 'css/general_styling';

.m-projectHeroDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 5px;

  &__divider {
    height: 3.125rem;
  }

  @include respond(laptop) {
    align-items: flex-end;
  }
}
