@mixin flex-center() {
	display: flex;
	align-items: center;
}

.modalContainer {
	@include flex-center();
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 10;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
}

.modalInfoContainer {
	background: white;
	box-shadow: 0 0 12px rgba(94, 94, 94, 0.25);
	@include flex-center();
	padding: 1.5rem 0;
	justify-content: center;
	flex-direction: column;
	gap: 0.75rem;
	margin: 1rem;
	width: 28.688rem;
	border-radius: 10px;

	.modalSharedInfo {
		text-align: center;
		@include flex-center();
		flex-direction: column;
		gap: 0.75rem;

		.modalTitle {
			color: #4c7ff7;
			font-weight: 500;
			font-size: 24px;
			margin: auto;
		}

		.modalSubtitle {
			color: #728099;
			font-size: 14px;
			margin: auto;
		}
	}

	.form {
		display: flex;
		flex-direction: column;

		.modalInfoBtn {
			display: flex;
			margin: 1.5rem 0 0;
		}
	}

	.modalInfoBtn {
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		padding: 1rem 2rem 0;
		border-top: 1px solid #e8e7e7;
		width: 100%;

		button {
			width: 110px !important;

			@media (min-width: 640px) {
				width: 120px !important;
			}
		}
	}
}
